.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-grey-100);
  padding: 2rem 4rem;
  border: 1px solid var(--color-grey-400);
  border-radius: 10px;
  box-shadow: 0 0 2rem 0 var(--color-grey-200);
  text-align: center;
  display: none;
}

.modal > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal-action {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

input {
  width: 350px;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-grey-400);
}

.modal-paragraph {
  margin-top: 1rem;
  font-size: 0.875rem;
}
