@import url("./css/header.css");
@import url("./css/modal.css");

:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-grey-100: #f8f8f8;
  --color-grey-200: #e6e6e6;
  --color-grey-400: #898989;
  --color-grey-700: #4c4c4c;
  --color-grey-900: #303030;
  --color-primary: ;
  --color-accent: ;
  --color-danger-100: #ff6b6b;
  --color-danger-900: #c82d2d;
  --color-success-100: rgb(130, 205, 130);
  --color-success-900: rgb(41, 132, 41);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  list-style: none;
  text-decoration: none;
}

.btn {
  border: none;
  cursor: pointer;
  background: transparent;
}

.action-btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.danger {
  background-color: var(--color-danger-100);
  border: 1px solid var(--color-danger-900);
  color: var(--color-grey-100);
}

.success {
  background-color: var(--color-success-100);
  border: 1px solid var(--color-success-900);
  color: var(--color-grey-100);
}
