:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-grey-100: #eeeeee;
  --color-grey-400: #898989;
  --color-grey-700: #4c4c4c;
  --color-grey-900: #303030;
  --color-primary: ;
  --color-accent: ;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
